{% extends 'layout.html' %}
{% block content %}

<body>

    <form method='POST'>
        {{ gymnast_form.hidden_tag() }}

        <p>

            {{ gymnast_form.name.label }}
            {{ gymnast_form.name(size=32) }}
            {% if gymnast_form.name.errors %}

        <ul>
            {% for error in gymnast_form.name.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ gymnast_form.club.label }}
            {{ gymnast_form.club() }}
            {% if gymnast_form.club.errors %}
        <ul>
            {% for error in gymnast_form.club.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ gymnast_form.level.label }}
            {{ gymnast_form.level() }}
            {% if gymnast_form.level.errors %}
        <ul>
            {% for error in gymnast_form.level.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ gymnast_form.submit() }}

        </p>
    </form>

    <form>
        {{ club_form.hidden_tag() }}

        <p>

            {{ club_form.name.label }}
            {{ club_form.name(size=32) }}
            {% if club_form.name.errors %}

        <ul>
            {% for error in club_form.name.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Club</th>
            <th>Name</th>
            <th>Level</th>
        </tr>
        {% for row in gymnasts %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.clubs.name}}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.level }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>

{% endblock %}