{% extends 'layout.html' %}
{% block content %}

<body>

    <form method='POST'>
        {{ form.hidden_tag() }}

        <p>

            {{ form.name.label }}
            {{ form.name(size=32) }}
            {% if form.name.errors %}
        <ul>
            {% for error in form.name.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ form.club_id.label }}
            {{ form.club_id(size=32) }}
            {% if form.club_id.errors %}
        <ul>
            {% for error in form.club_id.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ form.level.label }}
            {{ form.level() }}
            {% if form.level.errors %}
        <ul>
            {% for error in form.level.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        </p>

        <p>

            {{ form.submit() }}

        </p>
    </form>


    <h1>Gymnasts</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Club</th>
            <th>Name</th>
            <th>Level</th>
        </tr>
        {% for row in gymnasts %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.clubs.name}}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.level }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>

{% endblock %}