<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}SMART{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div>
        <div style="position:fixed;top:60px;left:0;width:100vw;height:60px;background:#2196f3;z-index:99999;text-align:center;color:white;font-size:1.5rem;line-height:60px;">TEST MENU: Home | Live | Results | Calendar</div>
        {% include 'nav.html' %}

        <main>{% block content %}{% endblock %}</main>

        <footer>{% include 'footer.html' %}</footer>
    </div>

    <script src="/static/script.js"></script>

</body>

</html>